<div class="align-items-center flex justify-content-center h-full">
    <p-card styleClass="Register User">
    
      <div class="text-center mb-5">
        <h1>Sign Up</h1>
        <div class="mb-3">
          <!-- <img src="/assets/logo.png" alt="KOIS" style="max-width: 150px"> -->
        </div>
      </div>
  
      <div>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="formgrid grid">
            <label for="profilePicture" class="block text-900 font-medium mb-2">Profile Picture</label>
              <input formControlName="profilePicture" id="profilePicture" type="text" pInputText class="w-full mb-3">
          </div>
          <div class="formgrid grid">
            <div class="field col">
              <label for="userName" class="block text-900 font-medium mb-2">Username</label>
              <input formControlName="userName" id="userName" type="text" pInputText class="w-full mb-3">
            </div>
            <div class="field col">
              <label for="firstName" class="block text-900 font-medium mb-2">First Name</label>
              <input formControlName="firstName" id="firstName" type="text" pInputText class="w-full mb-3">
            </div>
          </div>
          <div class="formgrid grid">
            <div class="field col">
              <label for="lastName" class="block text-900 font-medium mb-2">Last Name</label>
              <input formControlName="lastName" id="lastName" type="text" pInputText class="w-full mb-3">
            </div>
            <div class="field col">
              <label for="password" class="block text-900 font-medium mb-2">Password</label>
              <input formControlName="password" id="password" type="password" pInputText class="w-full mb-3">
            </div>
          </div>
          <div class="formgrid grid">
            <div class="field col">
              <label for="email" class="block text-900 font-medium mb-2">Email</label>
              <input formControlName="email" id="email" type="email" pInputText class="w-full mb-3">
            </div>
            <div class="field col">
              <label for="birthdate" class="block text-900 font-medium mb-2">Birthday</label>
              <p-calendar formControlName="birthdate" id="birthdate" type="text" pInputText class="w-full mb-3" [showIcon]="true"></p-calendar>            </div>
          </div>    
          <div class="flex align-items-center justify-content-between mb-6">
            <div class="field-col">
              <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
            </div>
            <div class="field-col">
              <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer" [routerLink]="['/auth/login']">Sign In</a>
            </div>
          </div>
          <button pButton pRipple label="Sign Up" icon="pi pi-user" class="w-full" [disabled]="!form.valid"></button>
        </form>
      </div>
    </p-card>
  </div>
  